/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: blue;
    padding: 20px 0;
}

header h1 {
    color: white;
    margin-left: 20px;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
}

.menu li {
    margin-left: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.linha {
    height: 3px;
    background-color: blue;
    margin: 10px 0 20px;
}

.sobre-a-loja {
    margin-top: 30px;
}

.sobre-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre-conteudo img {
    width: 45%;
    border-radius: 5px;
}

.sobre-texto {
    width: 50%;
}

.sobre-texto h2 {
    color: #333;
    margin-bottom: 5px;
}

.sobre-texto p {
    line-height: 1.6;
}

.produtos {
    margin-top: 30px;
}

.produtos h2 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.grid-produtos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produto {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 22%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.produto h3 {
    color: #333;
    margin-bottom: 10px;
}

.produto p {
    font-size: 0.9rem;
    margin-bottom: 15px;
    color: #666;
}

.produto button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: 80%;
}

.produto button:hover {
    background-color: blue;
}

@media (max-width: 768px) {
    .sobre-conteudo {
        flex-direction: column;
    }

    .sobre-conteudo img, .sobre-texto {
        width: 100%;
        margin-bottom: 20px;
    }

    .grid-produtos {
        flex-direction: column;
        align-items: center;
    }

    .produto {
        width: 100%;
        margin-bottom: 20px;
    }
}
